<% provide(:title, 'Test') %>
<div id="red_wrapper" data-top="top:20%;" data-top="top:80%;"><p>test1</p></div>
<div id="blue_wrapper"><p>test2</p>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>