<% provide(:title, 'Test') %>
<div class="red_wrapper" data-start="top:30px;" data-end="top:-30px;"><p>redwrapper</p></div>
<div id="blue_wrapper"><p>bluewrapper</p></div>
<div id="green_wrapper"><p>greenwrapper</p></div>